<div class="fao-barra">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-md-4">
                    <img src="assets/images/FAO_logo.svg" height="58px"
                        alt="Food and Agriculture Organization of the United Nations"
                        title="Food and Agriculture Organization of the United Nations" />
                </div>
                <div class="col-md-8">
                    <div class="bg-white text-center rounded-pill">
                        <img src="assets/images/agrosaviaLogo.png" height="58px" />
                        <img src="assets/images/logoIdeam.jpg" height="58px" />
                        <img src="assets/images/logoIgac.jpg" height="58px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto pt-3">
            <button class="btn btn-sm btn-light pull-right" (click)="menuClick()">
                <img src="assets/images/iconoMenu.png" alt="" width="20px" />
            </button>
        </div>
        <!--
    <div class="col-auto">
        <button class="btn btn-sm btn-outline-light pull-right">Button</button>
    </div>
    -->
    </div>
</div>