<app-header (propagar)="controlMenu($event)"></app-header>
<div class="panel-principal row">
    <div class="panel-izquierdo col-md-4 p-0" *ngIf="paneles" [@enterAnimation]>
        <h6 class="margen titulo-azul-16">Capas disponibles:</h6>
        
        <hr/>
        
        <h6 class="margen">SECUESTRO DE CARBONO BAJO DEFERENTES ESCENARIOS</h6>
        
        <ng-container *ngFor="let capa of capas.secuestro; let i = index">
            <div class="row margen-lateral">
                <div class="col">
                    <a [ngClass]="capa.estado ? 'activeLayer' : 'inactiveLayer'">{{ capa.nombre }}</a>
                </div>
                <div class="col-auto">
                    <button
                        [ngClass]="capa.estado ? 'btn btn-xs btn-outline-success pull-right' : 'btn btn-xs btn-outline-danger pull-right'"
                        (click)="cambiarEstado(capa);">{{ capa.estado ? 'ON' : 'OFF' }}</button>
                </div>
            </div>
            <hr />
        </ng-container>

        <hr/>
        
        <h6 class="margen">DIFERENCIA ABSOLUTA DE SECUESTRO DE CARBONO (ESCENARIOS - COS 2020)</h6>

        <ng-container *ngFor="let capa of capas.diferenciaAbs; let i = index">
            <div class="row margen-lateral">
                <div class="col">
                    <a [ngClass]="capa.estado ? 'activeLayer' : 'inactiveLayer'">{{ capa.nombre }}</a>
                </div>
                <div class="col-auto">
                    <button
                        [ngClass]="capa.estado ? 'btn btn-xs btn-outline-success pull-right' : 'btn btn-xs btn-outline-danger pull-right'"
                        (click)="cambiarEstado(capa);">{{ capa.estado ? 'ON' : 'OFF' }}</button>
                </div>
            </div>
            <hr />
        </ng-container>

        <hr/>
        
        <h6 class="margen">TASA ABSOLUTA DE SECUESTRO DE CARBONO (ESCENARIOS - COS 2020)/20 AÑOS</h6>

        <ng-container *ngFor="let capa of capas.tasaAbs; let i = index">
            <div class="row margen-lateral">
                <div class="col">
                    <a [ngClass]="capa.estado ? 'activeLayer' : 'inactiveLayer'">{{ capa.nombre }}</a>
                </div>
                <div class="col-auto">
                    <button
                        [ngClass]="capa.estado ? 'btn btn-xs btn-outline-success pull-right' : 'btn btn-xs btn-outline-danger pull-right'"
                        (click)="cambiarEstado(capa);">{{ capa.estado ? 'ON' : 'OFF' }}</button>
                </div>
            </div>
            <hr />
        </ng-container>

        <hr/>
        
        <h6 class="margen">DIFERENCIA RELATIVA DE SECUESTRO DE CARBONO (ESCENARIOS - USO ACTUAL BAU)</h6>

        <ng-container *ngFor="let capa of capas.diferenciaRel; let i = index">
            <div class="row margen-lateral">
                <div class="col">
                    <a [ngClass]="capa.estado ? 'activeLayer' : 'inactiveLayer'">{{ capa.nombre }}</a>
                </div>
                <div class="col-auto">
                    <button
                        [ngClass]="capa.estado ? 'btn btn-xs btn-outline-success pull-right' : 'btn btn-xs btn-outline-danger pull-right'"
                        (click)="cambiarEstado(capa);">{{ capa.estado ? 'ON' : 'OFF' }}</button>
                </div>
            </div>
            <hr />
        </ng-container>

        <hr/>
        
        <h6 class="margen">TASA RELATIVA DE SECUESTRO DE CARBONO (ESCENARIOS - USO ACTUAL BAU) /20 AÑOS</h6>

        <ng-container *ngFor="let capa of capas.tasaRel; let i = index">
            <div class="row margen-lateral">
                <div class="col">
                    <a [ngClass]="capa.estado ? 'activeLayer' : 'inactiveLayer'">{{ capa.nombre }}</a>
                </div>
                <div class="col-auto">
                    <button
                        [ngClass]="capa.estado ? 'btn btn-xs btn-outline-success pull-right' : 'btn btn-xs btn-outline-danger pull-right'"
                        (click)="cambiarEstado(capa);">{{ capa.estado ? 'ON' : 'OFF' }}</button>
                </div>
            </div>
            <hr />
        </ng-container>

        <hr/>
        
        <h6 class="margen">INCERTIDUMBRE %</h6>

        <ng-container *ngFor="let capa of capas.incertidumbre; let i = index">
            <div class="row margen-lateral">
                <div class="col">
                    <a [ngClass]="capa.estado ? 'activeLayer' : 'inactiveLayer'">{{ capa.nombre }}</a>
                </div>
                <div class="col-auto">
                    <button
                        [ngClass]="capa.estado ? 'btn btn-xs btn-outline-success pull-right' : 'btn btn-xs btn-outline-danger pull-right'"
                        (click)="cambiarEstado(capa);">{{ capa.estado ? 'ON' : 'OFF' }}</button>
                </div>
            </div>
            <hr />
        </ng-container>
        
    </div>
    <div [ngClass]="paneles ? 'panel-centro col-md-5' : 'panel-centro-full col-md-12'">
        <div id="map" class='custom-popup'></div>
        <br />
    </div>
    <div class="panel-derecho col-md-3 p-0" *ngIf="paneles">
        <!--<div class="row">
            <div class="col-md-12">-->
        <ng-container *ngIf="capaSeleccionada !== undefined">
            <div class="row margen">
                <div class="col-md-12">
                    <h6 class="titulo-azul-16">Capa Seleccionada: </h6>
                </div>
                <div class="col-md-12">
                    <p class="text-break">{{ capaSeleccionada.nombre}}</p>
                    
                </div>
            </div>
            <hr />
            <div class="row margen">
                <div class="col-md-12">
                    <h6 class="titulo-azul-16">Estadísticas:</h6>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ítem</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Mínimo</td>
                                <td>{{ capaSeleccionada.stats.STATISTICS_MINIMUM | number : '1.0-4' }}</td>
                            </tr>
                            <tr>
                                <td>Media</td>
                                <td>{{ capaSeleccionada.stats.STATISTICS_MEAN | number : '1.0-4' }}</td>
                            </tr>
                            <tr>
                                <td>Máximo</td>
                                <td>{{ capaSeleccionada.stats.STATISTICS_MAXIMUM | number : '1.0-4' }}</td>
                            </tr>
                            <tr>
                                <td>Desviación estándar</td>
                                <td>{{ capaSeleccionada.stats.STATISTICS_STDDEV | number : '1.0-4' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <div class="row margen">
                <div class="col-md-12">
                    <h6 class="titulo-azul-16">Histograma: </h6>
                </div>
                <div class="col-md-12">
                    <img [src]="capaSeleccionada.histo" width="100%" />
                </div>
            </div>
            <hr />
            <div class="row margen">
                <div class="col-md-12">
                    <h6 class="titulo-azul-16">Leyenda: </h6>
                </div>
                <div class="col-md-12 text-center">
                    <img [src]="capaSeleccionada.legend" />
                </div>
            </div>
            <hr />
            <div class="row margen">
                <div class="col-md-12">
                    <h6 class="titulo-azul-16">Metadatos de servicio: </h6>
                    <br/>
                </div>
                <div class="col-md-12 text-justifyr">
                    <p class="text-break texto-12">Layer: {{ capaSeleccionada.nombre_capa }}</p>
                    <p class="text-break texto-12">WMS Base URL: <a [href]="capaSeleccionada.wmsBaseUrl" target="_blank">{{ capaSeleccionada.wmsBaseUrl }}</a></p>
                    <p class="text-break texto-12">GetCapabilities: <a [href]="capaSeleccionada.getCapabilities" target="_blank">{{ capaSeleccionada.getCapabilities }}</a></p>
                    <p class="text-break texto-12">GetMap: <a [href]="capaSeleccionada.getMap" target="_blank">{{ capaSeleccionada.getMap }}</a></p>
                    <br />
                </div>
            </div>
        </ng-container>
        <br/>
    </div>
</div>
<app-footer></app-footer>