body {
    width: 100vw !important;
    max-width: 100vw !important;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

.fao-barra {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px 10px 10px 10px !important;
    color: #FFFFFF !important;
    background-color: #116aab !important;
}

.map-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    height: 100% !important;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%; 
    /*height: 500px !important;*/
}

.btn-xs
{
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.activeLayer {
    color: orange !important;
    font-size: 12px !important;
    cursor: pointer;
    text-decoration: none;
}

.activeLayer:hover {
    color: red !important;
    font-size: 12px !important;
    cursor: pointer;
}

.inactiveLayer {
    color: gray !important;
    font-size: 12px !important;
    cursor: pointer;
    text-decoration: none;
}

.inactiveLayer:hover {
    color: red !important;
    font-size: 12px !important;
    cursor: pointer;
}

li {list-style:none;}

.margen {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 25px !important;
}

.margen-lateral {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.panel-principal {
    height: calc(100vh - 78px - 60px) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*width: 100% !important;*/
}

.panel-izquierdo {
    /*width: 30% !important;*/
    /*border-right: solid #116aab !important;*/
    padding-top: 10px;
    height: 100% !important;
    overflow-y: auto !important;
}

.panel-centro {
    /*width: 50% !important;*/
    height: 100% !important;
    margin: 0;
    padding: 0 !important;
}

.panel-centro-full {
    /*width: 100% !important;*/
    height: 100% !important;
    margin: 0;
    padding: 0 !important;
}

.panel-derecho {
    height: 100% !important;
    overflow-y: auto !important;
    padding-top: 10px;
}


.custom-popup .leaflet-popup-content-wrapper {
    background:#ffffff;
    color:#116aab;
    font-size:16px;
    line-height:24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
}

.custom-popup .leaflet-popup-tip-container {
    width:30px;
    height:15px;
}

.custom-popup .leaflet-popup-tip {
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:15px solid #116aab;
}

caption {
    color: #116aab !important;
}

.titulo-azul-16 {
    color: #116aab !important;
    font-size: 16px !important;
}


.leaflet-geosearch-bar form {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    border-radius: 4px;
}

.texto-12 {
    font-size: 12px !important;
}